<h1>Add a new director</h1>

<form action="http://localhost:3000/directors/create_director">
  Name:
  <input name="name" type="string">

  Bio:
  <input name="bio" type="string">

  Date of birth:
  <input name="dob" type="string">

  Link to photo:
  <input name="image_url" type="string">

  <button>Create Director</button>
</form>

<a href="/directors">Cancel and go back</a>
